<html>
  <head>
    <title>Spell Check Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Please register</h1>
      <br>
      <form action="" method="post">
        <input type="hidden" id="csrf_token" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" placeholder="Username" name="uname" id="uname" value="{{ request.form.uname }}">
        <input type="password" placeholder="Password" name="pword" id = "pword" value="{{ request.form.pword }}">
        <input type="password" placeholder="2fa" name="2fa" id="2fa" value="{{ request.form.dosfa }}">
        <input class="btn btn-default" type="submit" value="register">
      </form>
      <br>
      {% if message %}
      <p1 id="success"> {{ message }}</p1>
      {% endif %}
      <br>
      <p2>Click <a href="/login">here</a> to log in.</p2>
    </div>
  </body>
</html>
